body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

button {
  padding: 12px 25px;
  background: red;
  border: none;
  color: white;
  cursor: pointer;
}

.server {
  background: #222;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}
